<style>
.affix{top:10px;}
</style>
<div class="norticetab">
    <div data-spy="affix" data-offset-top="150" class="nortice z-index2">
        <div class="row padb10">
            <div class="font18b cf cursorpt">公告通知</div>
        </div>
        <div class="row whiteline">
        </div>
        <div class="padt20 row font12b" ng-repeat="news in top_news">
            <a class="  cf anormal" ng-click="open_news_view(news.id)" target="_blank">
                <div class="row ">
                    <div class="col-md-8 ">
                        <span class="font13 underline cursorpt">{{news.title}}</span>
                    </div>
                    <div class="col-md-4 ">
                        <span class="font13 padr10 cursorpt">{{news.createDate}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="img/carousel1.png" alt="First slide">
            </div>
            <div class="item">
                <img src="img/carousel2.png" alt="Second slide">
            </div>
        </div>
    </div>
</div>
<div class="row marginlr15">
    <div class=" col-md-12 subjecttab flex-column flex-center flex-middle">
        <div class="">
            <a class="sub1" target="_blank" href="http://www.cisszgty.com:8080/journalx_cn/expertLogOn.action?mag_Id=1"></a>
        </div>
        <div class="">
            <a class="sub2" target="_blank" href="http://www.cisszgty.com:8080/journalx_cn/editorLogOn.action?mag_Id=1"></a>
        </div>
        <div class="">
            <a class="sub3" target="_blank" href="http://www.cisszgty.com:8080/journalx_cn/editorInChiefLogOn.action?mag_Id=1"></a>
        </div>
        <div class="">
            <a class="sub4" target="_blank" href="http://www.cisszgty.com:8080/journalx_cn/authorLogOn.action?mag_Id=1"></a>
        </div>
    </div>
</div>
<div class="row marginlr15">
    <div class="title flex-column flex-center flex-middle">
        <p class="font26b">
            <<中国体育科技>>当前目录</p>
    </div>
</div>
<div class="line">
</div>
<div class="sportstab padt30">
    <div class="row marginlr15">
        <div class="col-md-1 padt60 float-l cursorpt">
            <img src="img/arrow-prev.png" alt="" ng-show="keji_start_index >= current_artical_page_size" ng-click="get_prev_articals(2)">
        </div>
        <div class="col-md-10 row">
            <div ng-repeat="kejiItem in keji_current_articals">
                <div class="col-md-3" ng-show="kejiItem" ng-click="open_artical_view(kejiItem.id,2)" style="cursor:pointer;">
                    <div class="item flex-row ">
                        <a><img ng-src="{{kejiItem.image}}" /></a>
                        <p class="font16b">{{kejiItem.name}}</p>
                        <p class="font14b">{{kejiItem.author}}</p>
						<p class="font14b">阅读量：{{kejiItem.visitNum}}</p>
                        <p class="font14">{{kejiItem.summary}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 padt60 float-r cursorpt">
            <img src="img/arrow-next.png" alt="" ng-show="(keji_start_index + current_artical_page_size) < keji_current_articals_total" ng-click="get_next_articals(2)">
        </div>
    </div>
</div>
<div class="sciencetab">
    <div class="row marginlr15">
        <div class="title flex-column flex-center flex-middle">
            <p class="font26b">
                <<体育科学>>当前目录</p>
        </div>
    </div>
    <div class="line">
    </div>

    <div class="row marginlr15 padt30">
        <div class="col-md-1 padt60 float-l cursorpt">
            <img src="img/arrow-prev.png" alt="" ng-show="kexue_start_index >= current_artical_page_size" ng-click="get_prev_articals(1)">
        </div>
        <div class="col-md-10 row">
            <div ng-repeat="kexueItem in kexue_current_articals">
                <div class="col-md-3" ng-show="kexueItem" ng-click="open_artical_view(kexueItem.id,1)" style="cursor:pointer;">
                    <div class="item flex-row ">
                        <a><img ng-src="{{kexueItem.image}}" /></a>
                        <p class="font16b">{{kexueItem.name}}</p>
                        <p class="font14b">{{kexueItem.author}}</p>
						<p class="font14b">阅读量：{{kexueItem.visitNum}}</p>
                        <p class="font14">{{kexueItem.summary}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1 padt60 float-r cursorpt">
            <img src="img/arrow-next.png" alt="" ng-show="(kexue_start_index + current_artical_page_size) < kexue_current_articals_total" ng-click="get_next_articals(1)">
        </div>
    </div>
</div>
<div class="videotab">
  <div class="h90 flex-row flex-center flex-middle">
    <p class="font30 cf">视频板块</p>
  </div>
  <div class="flex-row flex-center flex-middle">
    <p class="videoline"></p>
  </div>
  <div class="row padt25">
    <!-- <div class="col-md-1 padt60 float-l cursorpt">
        <img src="img/arrow-prev.png" alt="" ng-show="kexue_start_index >= current_artical_page_size" ng-click="get_prev_articals(1)">
    </div> -->
    <div class="col-md-10 col-md-offset-1 row">
      <div class="col-md-3 height360 flex-row flex-center">
        <div class="width250">
          <video id="example_video_1" class="video-js vjs-default-skin width250 height150" controls preload="none" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <source src="\yiicms\uploadfile\a.mp4" type="video/mp4">
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="">
            <p class="cf font16b padt15">体育教学模式论</p>
            <p class="cf font14 padt3"> 毛振明 吴键 马铮 － 《体育科学》1998 阅读量：513</p>
            <p class="cfc9 font12 padt3">体育教学模式的研究是当前体育教学论研究和体育教学改革的重要课题之一。研究通过分析，并得出以下结果。教学模式是体现某种教学思想的教学程序，它包括相对稳定的……</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 height360 flex-row flex-center">
        <div class="width250">
          <video id="example_video_1" class="video-js vjs-default-skin width250 height150" controls preload="none" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <source src="\yiicms\uploadfile\a.mp4" type="video/mp4">
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="">
            <p class="cf font16b padt15">论我国高校体育改革的发展与构思</p>
            <p class="cf font14 padt3">曲宗湖 郑厚成 张燕 － 《体育科学》1998 阅读量：12631</p>
            <p class="cfc9 font12 padt3">体育教学模式的研究是当前体育教学论研究和体育教学改革的重要课题之一。研究通过分析，并得出以下结果。教学模式是体现某种教学思想的教学程序，它包括相对稳定的……
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 height360 flex-row flex-center">
        <div class="width250">
          <video id="example_video_1" class="video-js vjs-default-skin width250 height150" controls preload="none" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <source src="\yiicms\uploadfile\a.mp4" type="video/mp4">
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="">
            <p class="cf font16 padt15">论核心力量及其在竞技体育中的训练——起源 问题 发展</p>
            <p class="cf font14 padt3">黎涌明 于洪军 姿薇 － 《体育科学》2008 阅读量：763</p>
            <p class="cfc9 font12 padt3">体育教学模式的研究是当前体育教学论研究和体育教学改革的重要课题之一。研究通过分析，并得出以下结果。教学模式是体现某种教学思想的教学程序，它包括相对稳定的……
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 height360 flex-row flex-center">
        <div class="width250">
          <video id="example_video_1" class="video-js vjs-default-skin width250 height150" controls preload="none" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <source src="\yiicms\uploadfile\a.mp4" type="video/mp4">
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="">
            <p class="cf font16 padt15">体育教学模式论</p>
            <p class="cf font14 padt3">毛振明 吴键 马铮 － 《体育科学》1998 阅读量：513</p>
            <p class="cfc9 font12 padt3">体育教学模式的研究是当前体育教学论研究和体育教学改革的重要课题之一。研究通过分析，并得出以下结果。教学模式是体现某种教学思想的教学程序，它包括相对稳定的……
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-1 padt60 float-r cursorpt">
        <img src="img/arrow-next.png" alt="" ng-show="" ng-click="">
    </div> -->
  </div>
</div>
<div class="onlinetab padt40">
    <div class="title flex-column flex-center ">
        <p class="font26b">
            期刊在线阅读</p>
    </div>
    <div class="line">
    </div>
    <div class="row marginlr15 padt30">
        <div class=" col-md-10 col-md-offset-1 row">
            <div class="col-md-3 text-center" ng-repeat="issue in issues">
                <a ng-click="open_issue_view(issue.id)" target="_blank"><img ng-src="{{issue.image}}" class="resp-img cursorpt" /></a>
                <p class="padt10 font18b">{{issue.name}}</p>
            </div>
        </div>
        <div class="col-md-1 text-center padt60 float-r cursorpt">
            <a href="#/onlinebooklist">
                <div class=" "><img class="resp-img cursorpt" src="img/arrow-next.png"></div>
            </a>
<!--            <p class="padt10 font18b">查看更多</p>-->
        </div>
    </div>
</div>
<script>
    $('.carousel').carousel();

</script>
