<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body row">
        <!--<tabset class="tab-container" ng-model="tabset">-->
            <!--<tab heading="新闻管理" ng-click=" tabset=2">-->
                <div ng-include="'html/dialog/newsDetailDialog.html'"></div>

        <div class="row">
            <button class=" col-md-10 col-md-offset-1 btn btn-primary fa fa-info-circle " type="button" ng-click="create_news()" data-toggle="modal" data-target="#newsDetailDialog" popover="添加新闻" popover-trigger="mouseenter" >添加新闻</button>

        </div>
                <table ng-table="news_list" class="table table-hover ">
                    <caption class="font24b padb10">新闻列表</caption>
                    <thead></thead>
                    <tbody>
                    <tr class="row" ng-repeat="news in $data">
                        <!-- <td ng-bind="$index+1">1</td> -->
                        <td class="col-md-1" title="'ID'">
                           {{news.id}}
                        </td>
                        <td class="col-md-2" title="'图片'">
                            <img ng-src="{{news.image}}" err-src="uploadfile/news/news1.png" />
                        </td>
                        <td class="col-md-7" title="'内容'">
                            <a class="cursorpt c8e9" ng-click="open_news_view(news.id)" target="_blank">
                                <div class="font24">{{news.title}}</div>
                                <div class="font14 padt10">{{ news.viceTitle | characters:400 : breakOnWord }}</div>
                                <div class="font14 padt10">{{news.createDate}}</div>
                            </a>
                        </td>
                        <td class="col-md-2" title="'操作'">
                            <button class="btn btn-danger fa fa-info-circle" type="button" ng-click="delete_news(news)" >删除</button>
                            <button class="btn btn-success fa fa-info-circle" type="button" ng-click="modify_news(news)" data-toggle="modal" data-target="#newsDetailDialog" popover="修改新闻内容" popover-trigger="mouseenter" >修改</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            <!--</tab>-->
            <!--<tab heading="期刊管理" ng-click=" tabset=1">-->

            <!--</tab>-->
        <!--</tabset>-->

    </div>
</div>
